 /* use urbanist font  // use google font */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
  themes: light -- default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66 ;
  --color-secondary: #03373D;
}

body{
  
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(221, 221, 220);

}
.dotted-line {
  border-bottom: 2px dotted black; /* thickness, style, color */
  width: full; /* length of the line */
  margin: 20px 0;
}
